<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing Chats</title>
</head>
<body>

    <form action="/chats/<%= chat._id %>?_method=PATCH" method="post">
        <h3> Chat Details </h3>
        <div>
            <p> Chat id : <%= chat._id %></p>
            <p>
                Sent From : 
                <i> <%= chat.from  %></i>
            </p> 
            <p>
                Sent To : 
                <i> <%= chat.to  %></i>
            </p>
            <textarea name="msg" placeholder=<%= chat.msg %>></textarea>
               <br>
               <br>
            <button > Edit</button>
                <br>
        </div>
    </form>
    
</body>
</html>